<% if (typeof erro !== 'undefined' && erro) { %>
  <div class="message error"><%= erro %></div>
<% } %>
<% if (typeof sucesso !== 'undefined' && sucesso) { %>
  <div class="message success"><%= sucesso %></div>
<% } %>
